* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
  font-family: 'Raleway', sans-serif;
  --boreal-purple: #4650bd;
  --green: #008364;
  --grey: #444;
  --blue: #c8deef;
}

.stop-scrolling {
  overflow: hidden;
}
