.informacoes {
  background: linear-gradient(180deg, #304968 0%, #36c1a0 52.6%, #4650bd 100%);
}

.informacoes__banner {
  background: url(../img/informacoes-banner.png) no-repeat center;
  background-size: 100% 100%;
  height: 28.1rem;
}

.informacoes__banner__text {
  color: white;
  font-family: 'Calistoga', serif;
  font-size: 3.2rem;
  font-weight: 400;
  text-align: center;
  padding: 11.95rem 2.4rem;
}

.informacoes__perguntas {
  padding: 4.8rem 2.4rem;
}

.informacoes__perguntas__title {
  color: white;
  font-size: 3.2rem;
  font-family: 'Calistoga', serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 4.8rem;
}
.informacoes__perguntas__box {
  margin-bottom: 2.4rem;
}

.informacoes__perguntas__box__pergunta {
  align-items: center;
  background-color: var(--boreal-purple);
  display: flex;
  padding: 1.6rem;
}

.informacoes__perguntas__box__pergunta__text {
  color: white;
  font-size: 3.2rem;
  font-weight: 700;
  width: 24.8rem;
}

.informacoes__perguntas__box__pergunta__icon {
  background: url(../img/arrow_drop_down.svg) no-repeat center;
  background-size: 100% 100%;
  height: 1.3rem;
  width: 1.3rem;
}

.informacoes__perguntas__box__resposta {
  background-color: var(--blue);
  color: var(--grey);
  font-size: 2rem;
  font-weight: 500;
  line-height: 4rem;
  padding: 1.6rem;
}

.informacoes__perguntas__box__resposta a {
  color: var(--grey);
}

@media screen and (min-width: 768px) {
  .informacoes__banner {
    height: 38.4rem;
  }

  .informacoes__banner__text {
    font-size: 6.4rem;
    padding: 15.05rem 10.05rem;
  }

  .informacoes__perguntas {
    padding: 4.8rem 6rem;
  }

  .informacoes__perguntas__title {
    font-size: 4.8rem;
  }

  .informacoes__perguntas__box__pergunta__text {
    width: 97%;
  }
}

@media screen and (min-width: 1024px) {
  .informacoes__perguntas {
    padding: 4.8rem 22.2rem;
  }
}
